In [9]:
# =======================================================================
# Course: Deep Learning Complete Course (CS-501)
# Author: Dr. Saad Laouadi
# Lesson: Primitive Data Types in Python
#
# Description: This program introduces Python's primitive data types, 
#              such as integers, floats, strings, and booleans. 
#              It demonstrates how to declare and use variables of 
#              different data types with relevant examples.
#
# =======================================================================

In [2]:
# Primitive Data Types Overview
# -----------------------------
# Python supports several primitive data types for storing values.

# 1. Integer (int)
# ----------------
# Integers are whole numbers, positive or negative, without decimals.
age = 25                              # Example of an integer
year = 2024                           # Another integer
print("Age:", age)           
print("Year:", year)

Age: 25
Year: 2024

In [3]:
# 2. Float (float)
# ----------------
# Floats are numbers with a decimal point.
pi = 3.14159  # Example of a float
temperature = -7.5  # A negative float
print("Pi:", pi)  # Output: Pi: 3.14159
print("Temperature:", temperature)  # Output: Temperature: -7.5

Pi: 3.14159
Temperature: -7.5

In [4]:
# 3. String (str)
# ---------------
# Strings are sequences of characters enclosed in quotes.
greeting = "Hello, World!"             # Double quotes
name = 'Amine'                          # Single quotes
multi_line_message = """This is a 
multi-line string."""                   # Triple quotes for multi-line strings
print("Greeting:", greeting)
print("Name:", name) 
print("Multi-line message:", multi_line_message)

Greeting: Hello, World!
Name: Amine
Multi-line message: This is a
multi-line string.

In [5]:
# 4. Boolean (bool)
# -----------------
# Booleans represent one of two values: True or False.
is_student = True  # A boolean value
has_access = False  # Another boolean value
print("Is student:", is_student)  # Output: Is student: True
print("Has access:", has_access)  # Output: Has access: False

# Type Checking
# -------------
# You can check the data type of a variable using the `type()` function.
print("Data type of age:", type(age))  
print("Data type of pi:", type(pi))  
print("Data type of name:", type(name))  
print("Data type of is_student:", type(is_student))

Is student: True
Has access: False
Data type of age: <class 'int'>
Data type of pi: <class 'float'>
Data type of name: <class 'str'>
Data type of is_student: <class 'bool'>

In [6]:
print("""
# Type Conversion
# ---------------
# You can convert one data type to another using built-in functions.
# - `int()`: Converts a value to an integer
# - `float()`: Converts a value to a float
# - `str()`: Converts a value to a string
# - `bool()`: Converts a value to a boolean
""")

# Type Conversion
# ---------------
# You can convert one data type to another using built-in functions.
# - `int()`: Converts a value to an integer
# - `float()`: Converts a value to a float
# - `str()`: Converts a value to a string
# - `bool()`: Converts a value to a boolean

In [7]:
# Examples of type conversion:
num_str = "100"
num_int = int(num_str)              # Converts string to integer
num_float = float(num_int)          # Converts integer to float
is_active = bool(num_int)           # Converts integer to boolean (non-zero values are True)

print("String to Integer:", num_int)  # Output: 100
print("Integer to Float:", num_float)  # Output: 100.0
print("Integer to Boolean:", is_active)  # Output: True

String to Integer: 100
Integer to Float: 100.0
Integer to Boolean: True

In [8]:
print("""
# Summary
# -------
# - Primitive data types in Python include int, float, str, and bool.
# - Use `type()` to check the data type of a variable.
# - Use type conversion functions to change the data type of a value when needed.

# Practice using these data types and conversions to understand Python's flexibility!
""")

# Summary
# -------
# - Primitive data types in Python include int, float, str, and bool.
# - Use `type()` to check the data type of a variable.
# - Use type conversion functions to change the data type of a value when needed.

# Practice using these data types and conversions to understand Python's flexibility!